/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.topbar {
position: relative;
width: calc(100%-200px);
height: 200px;
background-color: #ea4c4c;
overflow: auto;
padding: 0;
margin-left: 200px;
display: flex;
justify-content: center;
align-items: center;
}

.passion {
color: purple;
font-size: 80px;
font-family: 'Lobster', cursive;
left:20px;
margin:0;
}

.username {
height:168px;
border-width: 1px;
border-style: solid;
}
/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.fileupload{
border-width: 1px;
border-style: solid;
}
/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  position:relative;
  color: red;
}

.unorderedlist {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}

.listitem {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}
.listitem:last-child {
  border-bottom: none
}