{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="login">
    <div class="form">
        <h1 style="font-size: 20"> {{ signorlog }} </h1>
        <h2 style="font-size: 14">{{ note }}</h2>
        <form class="registration-form" action="/{{action}}/" method="post">
            {% csrf_token %}
            <input id="Email" placeholder="e-mail" type="text" name="Email" value="{{ current_email }}"/>
            <input id="Password" placeholder="password" type="password" name="Password" value="{{ current_password }}"/>
            <input type="submit" value={{signorlog}}>
        </form>
    </div>
</div>


</body>
</html>


