{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="font-size: 20"> {{ signorlog }} </h1>
        <div></div>
        <div id='section1' class='section1'>
                <form action="/{{action}}/" method="post">
                    {% csrf_token %}
                    <label for="Email">E-mail: </label>
                    <input id="Email" type="text" name="Email" value="{{ current_email }}">

                    <label for="Password">Password: </label>
                    <input id="Password" type="text" name="Password" value="{{ current_password }}">

                    <input type="submit" value={{signorlog}}>
                </form>
        </div>
<h2 style="font-size: 20">{{ note }}</h2>
</body>
</html>